@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #081b29;
    color: #ebebeb;
}
.h-cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.h-logo{
    font-size: 25px;
    color: #ebebeb;
    text-decoration: none;
    font-weight: 600;
}
.h-nav a{
    font-size: 18px;
    color: #ebebeb;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
    transition: .4s;
}
.h-nav a:hover{
    color: blueviolet;
}
.h-card{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    display: flex;
    justify-content: ;
}
.h-content{
    display: flex;
    align-items: center;
    width: 100%;
}
.h-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.h-content h3{
    font-size: 32px;
    font-weight: 700
}
.h-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.h-btn{
    width: 345px;
    height: 50px;
}
.h-btn a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
}
.h-btn a:hover{
    background-color: #081b29;
    color: #00abf0;
}
.h-icon{
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.h-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    transition: .5s;
}
.h-icon a:hover{
    background-color: #00abf0;
    color: #081b29;
}
.h-img{
    margin-left: 8%;
    margin-top: 5%;
}
.h-img img{
    height: 380px;
    width: 380px;
    border-radius: 50%;
    border: 10px solid #ebebeb;
    size: cover;
}